.header-1 img{
   width: 5%;
   margin: 8px 2%;
   align-items: center;
   

}

.header-1{
    
    display: flex;
    padding-right: 100px;
    background-color: rgb(57, 140, 179);
}

.search-bar{
    margin-left: 200px !important;
    padding-bottom: 1% !important;
    
}

.header-2{
    padding-left: 20%;
    display: flex;
}
.header-link{
    padding-left: 20%;
    padding-top: 7%;
    text-decoration: none;
    color: rgb(248, 242, 242);
}

.logIn-button{
    
    margin-top: 30%;
    margin-left: 50%;
    /* padding: 0% 6%; */
    background-color: rgb(167, 54, 59);
    /* border-radius: 20px; */
    color: white;
    font-weight: 900;
    
}