.room{
    
    width: 50%;
    margin-left: 5%;
    color: white;
    margin-top: 2%;
}

.room img{
    width: 300px;
}

.room-details{
    display: flex;
    flex-direction: column;
}

.room-details-1{
    position: relative;
}

.room-details-2{
    position: absolute;
    margin-left: 25%;
    margin-top: -20%;
    padding-top: 5%;
}
.room-ratings{
    margin-left: 10px;
}

.room-rent {
    margin-left: 150px;
}