.date-picker{
    text-align: center;
    color: white!important;
    margin: 20% 5% 10% 80%;
    background-color: rgba(17, 81, 141, 0.452);
    position: absolute;
    top: 10%;
    left: 0%;
}


.booking-details{
    width: 50%;
    background-color: rgb(206, 194, 194);
    margin-left: 10%;
    margin-top: 5%;
    position: relative;
    
}
.booking-details img{
    width: 100%;
    height: 50vh;
}